<div style="width: 60%;">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">내용</th>
            <th scope="col">등록일</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boardList}">
            <th scope="row" th:text="${board.seq}"></th>
            <td>
                <a th:href="@{#}" th:onclick="|loadPage('@{/getBoard(seq=${board.seq})}')|" th:text="${board.title}"></a>
            </td>
            <td th:text="${board.writer}"></td>
            <td th:text="${board.content}"></td>
            <td th:text="${#dates.format(board.createdDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${board.cnt}"></td>
        </tbody>
    </table>

    <div sec:authorize="isAuthenticated()">
        <button class="btn btn-primary" th:onclick="|loadPage('@{/writeBoard}')|">글쓰기</button>
    </div>
</div>