<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<center>
    <hr><h1>새글 등록</h1>
    <form action="insertBoard" method="post">
        <table border="1" cellpadding="0" cellspacing="0">
            <tr><td bgcolor="skyblue" width="80">제목</td>
                <td><input name="title" type="text" size="50"></td>
            </tr>
            <tr><td bgcolor="skyblue" width="80"><b>writer</b></td>
                <td><input name="writer" type="text" size="50"></td>
            </tr>
            <tr><td bgcolor="skyblue" width="80">content</td>
                <td><textarea name="content" cols="50" rows="10"></textarea></td>
            </tr>
            <tr><td colspan=2 align="center">
                <input type="submit" value="등록하기">
            </td></tr>
        </table>
    </form>
    <a th:href="@{/getBoardList}">글목록</a>
</center>
</body>
</html>
